html, body {
	margin: 0;
	padding: 0;
}

body {
	font: 300 21px Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #ddd;
	background-color: #333;
	border-top: 5px solid #fc0;
	line-height: 1.5;
}

section {
	padding: 20px 0;
}

h2 {
	font-size: 2.2em;
	font-weight: 300;
	margin: 1em 0 0.5em 0;
}

h3 {
	font-size: 23px;
}

a {
	text-decoration: none;
	color: #fc0;
}

a:hover {
	text-decoration: none;
	color: #f90;
}

.container {
	max-width: 1000px;
	width: 95%;
	margin: 0 auto;
}

.speakers, .speakers li,
.sponsors, .sponsors li  {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}


.sponsors li {
	display: inline-block;
	vertical-align: middle;
	width: 33%;
}

.speakers li {
	display: inline-block;
	vertical-align: top;
	width: 250px;
	margin: 10px 5px;
}

.button {
  display: inline-block;
  margin: 20px 2px 2px 2px;
}



.button > a {
	padding: 10px 20px;
  color: #fff;
	background-color:#fc0;
  border-radius: 5px;
	color: #333;
	font-weight: bold;
}

.center-text {
	text-align:center;
}

.speakers div {
	line-height: 0;
}

.speakers p {
	font-size: 0.8em;
}

.speakers h3, .speakers p {
	margin: 10px 0 0 0;
}

.speakers img {
	border-radius: 2px;
}

.schedule {
	list-style: none;
	padding: 0;
}

.schedule .schedule_image {
	float: left;
	width: 100px;
}

.schedule .schedule_image img {
	border: 1px solid #ccc;
		border-radius: 100px;
}

.schedule li {
	clear: left;
	padding: 20px;
	margin: 10px 0;
}

.schedule li:nth-child(odd) {
   background-color: #2d2d2d;
}

.schedule .schedule_description {
	margin: 0 0 0 130px;
}

.schedule h3, .schedule p {
	padding: 0;
	margin: 0;
}

header, footer {
	text-align: center;
	background: #222;
	padding: 80px 0 100px 0;
}

header h1 {
	margin: 0;
}

header h1 img {
	width: 100%;
	max-width: 600px;
}

footer {
	padding: 20px 0;
	min-height: 50px;
	line-height: 25px;
}

footer p {
	color: #aaa;
	font-size: 0.8em;
	max-width: 30%;
	text-align: left;
	margin: 0;
}

footer .hosted-by {
	float: right;
}

footer img {
	vertical-align: middle;
}

.coming-soon {
	text-align: center;
	background: #222;
	padding: 5px;
	border-radius: 2px;
}

.share-button {
  display: inline-block;
  margin: 20px 1px;
}

.share-button.twitter-button {
  position: relative;
  top: 7px;
}

@media (max-width: 680px) {
	.sponsors li {
		width: 100%;
		margin: 20px 0;
	}
}
